/* -- Header / Nav -- */
ul li {
    display: inline-block;
}

ul li a {
    font-family: 'Poppins';
    font-weight: 800;
    color: white;
}

/* -- Section NumberOne  */

section:nth-child(2) {
    background-color: #00F6D0;
    
}

/*  Visible Grid Background */
.visibleGrid{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
  
  .gridLine{
    width: 20vw;
    height: 100vh;
    border-left: 2px solid #00F6D0 ;
  }